<footer id="footer">
	<div class="wrapper">
		<aside>
			<a href="/contact" style="width: 100%; position: absolute;">
				Jack@Durrant.tech
				<i class="fa fa-envelope-o" aria-hidden="true" style="float: right"></i>
			</a>
		</aside>
		<section>
			<div class="left">
				6 comments
			</div>
			<div class="right">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
		</section>
		<aside>
			Right sidebar
		</aside>
	</div>
</footer>
