<header id="header">
	<div class="wrapper">
		<aside>
			<a href="/" class="logo" id="site-title">Durrant.tech</a>
		</aside>
		<section>
			<div class="hidden" id="header-title">
				<%= title %>
			</div>
		</section>
		<aside>
			<div class="hidden" id="corner-search">
				<%- include('../forms/search') %>
			</div>
		</aside>
	</div>
</header>
