<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%# <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">%>
	<title><%= title %> - <%= site.title %></title>
	<%# stylesheets %>
	<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css" media="screen" title="Standard">

	<%# <link rel="stylesheet" href="/css/index.css" media="screen" title="Standard">%>
	<link rel="stylesheet" href="/css/index.css" media="screen" title="Standard">
	<%# scripts %>
	<%# <script data-main="/js/bundle.js" src="/bower/requirejs/require.js" charset="utf-8"></script>%>
	<%# <script src="/bower/jquery/dist/jquery.min.js" charset="utf-8"></script>
	<script src="/bower/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>%>

	<script src="/js/bundle.js" charset="utf-8"></script>
</head>
