<form class="grid" action="/contact" method="post">
	<input type="text" name="name" placeholder="Name" class="third">
	<input type="text" name="email" placeholder="Email" class="third">
	<input type="text" name="website" placeholder="Website" class="third">

	<textarea name="message" placeholder="Message" class="full"></textarea>
	<button type="button" name="submit" class="right">
		<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
		Send
	</button>

	<%# <button type="button" name="primary" class="btn-primary">Primary</button>
	<button type="button" name="success" class="btn-success">Success</button>
	<button type="button" name="info" class="btn-info">Info</button>
	<button type="button" name="warning" class="btn-warning">Warning</button>
	<button type="button" name="danger" class="btn-danger">Danger</button>
	<button type="button" name="link" class="btn-link">Link</button>%>
</form>
